.login-container {
  width: 350px;
  margin: 120px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}